[submodule "engine/extern/SDL"]
	path = engine/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "engine/extern/spdlog"]
	path = engine/extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "engine/extern/SPIRV-Reflect"]
	path = engine/extern/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
[submodule "engine/extern/vma"]
	path = engine/extern/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "engine/extern/imgui"]
	path = engine/extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "engine/extern/googletest"]
	path = engine/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "engine/extern/taskflow"]
	path = engine/extern/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "engine/extern/entt"]
	path = engine/extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "engine/extern/EnTT"]
	path = engine/extern/EnTT
	url = https://github.com/skypjack/entt.git
